<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Wrkspace</title>
  </head>
  <body class="flex flex-col h-screen bg-background/50 select-none">
    <div id="root" class="flex flex-col flex-1"></div>
  </body>
</html>
